{% extends "base.html.twig" %}

{% block title %}Modification du compte{% endblock %}

{% block body %}

	<div class="container">
		<h1 class="mt-3 mb-3">Modifications du compte</h1>
		<hr>
		{{ form_start(form) }}
		<div class="mb-3">
		{% if app.user.avatar %}
			<img src="images/avatars/{{app.user.avatar}}" alt="Photo de profil de {{app.user.prenom}}" class="avatar avatar-grand" title="Photo de profil de {{app.user.prenom}}">
			{% else %}
			<img src="images/default.jpg" alt="Photo de profil de {{app.user.prenom}}" class="avatar avatar-grand" title="Photo de profil de {{app.user.prenom}}">
		{% endif %}
		
		</div>

		<div class="row">
			<div class="col">
				<h2>Informations personnelles</h2>
				{{ form_row(form.nom) }}
				{{ form_row(form.prenom) }}
				{{ form_row(form.pays) }}
				{{ form_row(form.ville) }}
				{{ form_row(form.rue) }}
				{{ form_row(form.numerorue) }}
			</div>
			<div class="col">
				<h2>Identifiants</h2>
				{{ form_row(form.email) }}
                <a href="{{ path('compte_modification_password') }}" class="btn btn-primary mt-3"><i class="fas fa-key"></i> Modifier le mot de passe</a>
				<br>
				<h2 class="mt-3">Informations complémentaires</h2>
                <a href="{{ path('compte_mescommentaires') }}" class="btn btn-primary mt-3"><i class="fas fa-comment"></i> Consulter mes commentaires</a>
				<br>
                <a href="{{ path('compte_mescommandes') }}" class="btn btn-primary mt-3"><i class="fas fa-list"></i> Consulter mes commandes</a>
				<br>
                <a href="{{ path('compte_avatar') }}" class="btn btn-primary mt-3"><i class="fas fa-user"></i> Modifier mon image de profil</a>
			</div>
		</div>
		<div>
			<hr>
			<button class="btn btn-success mt-3"><i class="fas fa-pen"></i> Validez les modifications</button>
		</div>

		{{ form_end(form) }}

	</div>

{% endblock %}
