{% extends "base.html.twig" %}

{% block title %}Modification mot de passe
{% endblock %}

{% block body %}

	<div class="container">
		<h1 class="mt-3 mb-3">Modification du mot de passe</h1>

		{{ form_start(form) }}

		{{ form_row(form.ancienpassword) }}
		{{ form_row(form.nouveaupassword) }}
		{{ form_row(form.confirmationpassword) }}

		<button class="btn btn-success mt-3">
			<i class="fas fa-pen"></i>
			Modifier le mot de passe</button>

		{{ form_end(form) }}

		<hr>


	</div>

{% endblock %}
